body {
    background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #67d3d3, #afe0e4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #67d3d3, #afe0e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  .button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #0c3252;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px rgb(132, 220, 223);
    }
    
    .button:hover {background-color: #182b81}
    
    .button:active {
      background-color: #7c177c;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  
    #container {
        display:grid;
        /* place-content: center; */
        grid-template-columns: repeat(5, 1fr);
        /* grid-template-rows: repeat(4, 1fr); */
        grid-gap: 15px;
    }
  
    h1{
      text-align: center;
      justify-content: center;
      font-family: 'Domine', serif;
      font-size: 80px;
      color: #e6541a;
      user-select: none;
    }